<h1>User Detail</h1>
<% if user_signed_in? %>
  <table class="f6 w-100 mw8 center" cellspacing="0">
    <thead>
      <tr class="stripe-dark">
        <th class="fw6 tl pa3 bg-white">Name</th>
        <th class="fw6 tl pa3 bg-white">Email</th>
        <th class="fw6 tl pa3 bg-white">Phone</th>
        <th class="fw6 tl pa3 bg-white">Twitter</th>
        <th class="fw6 tl pa3 bg-white"></th>
      </tr>
    </thead>

    <tbody class="lh-copy">
      <% @user_details.each do |user_detail| %>
        <tr class="stripe-dark">
          <td class="pa3">
            <%= link_to "#{user_detail.first_name} #{user_detail.last_name}", user_detail, class:'f6 link dim black db' %>

          </td>
          <td class="pa3">
            <%= user_detail.email %>
          </td>
          <td class="pa3">
            <%= user_detail.phone %>
          </td>
          <td class="pa3">
            <%= user_detail.twitter %>
          </td>
          <td class="pa3">
            <%= link_to 'Delete', user_detail, method: :delete, data: { confirm: 'Are you sure?' }, class:"f6 link dim br2 ba bw1 ph3 pv2 mb2 dib b--black black" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <%= link_to 'New user_detail', new_user_detail_path, class:"f6 link dim ba br2 ph3 pv2 mb2 dib white bg-hot-pink" %>
<% else %>
  <h2>
    Please sign in
  </h2>
<% end %>
